root = true

[[shell]]
binary_next_line = true
charset = utf-8
end_of_line = lf
function_next_line = false
indent_size = 2
indent_style = space
insert_final_newline = false
keep_padding = true
never_split = true
# shell_variant = posix
space_redirects = true
switch_case_indent = true
trim_trailing_whitespace = true
